// Body
$body-bg: #f8fafc;

// Typography
$font-text: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

$light-grey: #aeaebe;
$light-grey2: #e0dee6;
$light-grey-border: #f2f2f2;
$light-grey-form: #696969;
$middle-grey: #e5eaee;
$grey: #bebebe;

$xs-breakpoint: 414.98px;
$sm-breakpoint: 575.98px;
$md-breakpoint: 767.98px;
$lg-breakpoint: 991.98px;
$xl-breakpoint: 1199.98px;
